<app-header></app-header>

<div class="contenedor">
  
  <div class="menu">
    <button type="button" class="boton_menu" [class.seleccionado]="botonSeleccionado === 0" (click)="seleccionarBoton(0)">{{"VELEROS.VELERO1" | transloco}}</button>
    <button type="button" class="boton_menu" [class.seleccionado]="botonSeleccionado === 1" (click)="seleccionarBoton(1)">{{"VELEROS.VELERO2" | transloco}}</button>
    <button type="button" class="boton_menu" [class.seleccionado]="botonSeleccionado === 2" (click)="seleccionarBoton(2)">{{"VELEROS.VELERO3" | transloco}}</button>
    <div class="linea_verde" [style.transform]="'translateX(' + (30 * botonSeleccionado) + 'vw)'"></div>
  </div>

  <app-calendario></app-calendario>

</div>

  
  
