<app-header></app-header>

<div class="contenedor">
    <div class="menu">
        <button type="button" class="boton_menu" [class.seleccionado]="botonSeleccionado === 0" (click)="seleccionarBoton(0)">{{"TRAVESIAS.TRAVESIAS_DISPONIBLES" | transloco}}</button>
        <button type="button" class="boton_menu" [class.seleccionado]="botonSeleccionado === 1" (click)="seleccionarBoton(1)">{{"TRAVESIAS.PUBLICAR_TRAVESIA" | transloco}}</button>
        <div class="linea_verde" [style.transform]="'translateX(' + (35 * botonSeleccionado) + 'vw)'"></div>
    </div>

    <ng-template [ngIf]= "botonSeleccionado === 0">
        <app-calendario></app-calendario>
    </ng-template>

    <ng-template [ngIf]= "botonSeleccionado === 1">
        <app-form-travesias></app-form-travesias>
    </ng-template>

</div>
