@import '~bootstrap-icons/font/bootstrap-icons.css';

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 40px;
}

.menu {
  border-bottom: 1px solid var(--colorGris);
  width: 70%; 
  margin: 0 auto; 
  display: flex;
  flex-direction: row;
  position: relative;
}

.boton_menu {
  font-size: 18px;
  background-color: transparent;
  width: 70%; 
  border-radius: 0%;
  border: none;
  cursor: pointer;
  position: relative;
  color: var(--colorGris);
  padding: 2px;
}

.linea_verde {
  margin-bottom: -3px;
  height: 5px;
  width: 50%; 
  background-color: var(--colorVerde);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.boton_menu.seleccionado {
  font-weight: bold; 
  color: var(--colorVerde);
}


.boton_menu:hover{
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .boton_menu{
    font-size: 16px;
  }
}
  