    <form class="formulario" [formGroup]="sociosForm">
        <div class="entrada">
            <label for="nombre">{{"FORM_SOCIOS.NOMBRE" | transloco}}</label>
            <input type="text" formControlName="nombre" [ngClass]="{is_invalid: (sociosForm.get('nombre').dirty || sociosForm.get('nombre').touched) && !sociosForm.get('nombre').valid}">
        </div>
    
        <div class="entrada">
            <label for="apellidos">{{"FORM_SOCIOS.APELLIDOS" | transloco}}</label>
            <input type="text" formControlName="apellidos" [ngClass]="{is_invalid: (sociosForm.get('apellidos').dirty && sociosForm.get('apellidos').touched) && !sociosForm.get('apellidos').valid}">
         </div>
    
        <div class="entrada">
            <label for="email">{{"FORM_SOCIOS.EMAIL" | transloco}}</label>
            <input type="email" formControlName="email" [ngClass]="{is_invalid: (sociosForm.get('email').dirty || sociosForm.get('email').touched) && !sociosForm.get('email').valid}">
        </div>
    
        <div class="entrada">
            <label for="contrasenya">{{"FORM_SOCIOS.CONTRASENYA" | transloco}}</label>
            <input type="password" formControlName="contrasenya" [ngClass]="{is_invalid: (sociosForm.get('contrasenya').dirty && sociosForm.get('contrasenya').touched) && !sociosForm.get('contrasenya').valid}">
        </div>
    
        <button type="reset" (click)="onSubmit()" [disabled]="sociosForm.invalid">{{"FORM_SOCIOS.REGISTRAR" | transloco}}</button>
    
    </form>
