@import '~bootstrap-icons/font/bootstrap-icons.css';

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 79vh;
    box-sizing: border-box;
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--colorGris);
    height: 8vh;
}

input, button{
    color: var(--colorGris);
    font-size: 18px;
    border: none;
    border-bottom: 1px solid var(--colorGris);
    background-color: transparent;
}

input{
    width: 380px;
}

button{
    cursor: pointer;
}

.lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 85vw;
    padding: 42px;    
    overflow-y: auto;

}

@media screen and (max-width: 768px) {
    input{
      font-size: 16px;
      width: 280px;
    }

    .lista{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }