<app-header></app-header>

<div class="contenedor">
    <div class="filtros">
        <form>
            <input type="search" aria-label="Search" placeholder="{{'FORM_SOCIOS.NOMBRE' | transloco}}">
            <button type="reset"><i class="bi bi-search"></i></button>
        </form>
    </div>
    
    <div class="lista">
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
        <app-tarjeta-socio></app-tarjeta-socio>
    </div>
</div>
