@import '~bootstrap-icons/font/bootstrap-icons.css';

.header{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

img{
    width: 180px;
    height: auto;
    padding: 12px;
}

.navegacion{
    display: flex;
    flex-direction: row;
    color: var(--colorAzul);
    gap: 24px;
    font-size: 20px;
}

a:hover{
    color: var(--colorVerde);
}

@media only screen and (max-width: 768px) {

    .header{
        height: auto;
        padding: 12px;
    }

    .navegacion{
        font-size: 14px;
        gap: 14px;
        margin-right: 22px;
    }

    img{
        width: 120px;
        height: auto;
    }

}