@import '~bootstrap-icons/font/bootstrap-icons.css';

.card{
    background-color: var(--colorAzul);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    color: var(--colorBlanco);
    width: 320px;
    padding: 4%;
    border-radius: 12px;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    width: 100%;
    border-bottom: 2px solid var(--colorBlanco);
    padding-bottom: 10px;
}

i{
    background-color: var(--colorBlanco);
    color: var(--colorAzul);
    border-radius: 50%;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}

p{
    margin-left: 8px;
}