.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 80px;
}

p{
    color: var(--colorGris);
    font-size: 24px;
}

.aqui{
    color: var(--colorVerde);
    background-color: transparent;
    width: auto;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.opcion{
    background-size: cover;
    width: 380px;
    height: 520px;
    box-shadow: 4px 4px 8px var(--colorGris);
    border-radius: 4px;
    color: var(--colorAzul);
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    background-color: rgba(67, 100, 171, 0.1);
}

img{
    height: auto;
    width: 360px;
}

.info{
    font-size: 18px;
    /* padding: 20px; */
    color: var(--colorAzul);
    margin-bottom: 24px;
    text-align: left;
    width: 360px;
}

button{
    color: white;
    background-color: var(--colorAzul);
    border-radius: 50%;
    border: none;
    width: 180px;
    height: 40px;
    cursor: pointer;
    font-size: 22px;
}

    button:hover{
        background-color: var(--colorVerde);
    }

@media only screen and (max-width: 768px) {
    .contenedor{
        gap: 20px;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .opcion{
        width: 240px;
        height: auto;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .header{
        height: 8vh;
    }

    img{
        width: 230px;
    }

    .info{
        font-size: 14px;
        width: 230px;
        padding-top: 12px;
    }

    button{
        font-size: 14px;
        width: 110px;
    }

    p{
        font-size: 18px;
    }
}