<app-header></app-header>

<div class="contenedor">
 
    <div class="menu">
        <div class="opcion">
            <img src="assets/img/velero.jpg" alt="">
            <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias consectetur hic exercitationem repellendus laboriosam delectus distinctio fugit dolores neque similique inventore in, eum eveniet tenetur voluptates voluptas maxime minima voluptate!</p>
            <button (click)="veleros()">{{"RESERVAS.VELEROS" | transloco}}</button>
        </div>
        <div class="opcion">
            <img src="assets/img/barbacoa.jpg" alt="">
            <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias consectetur hic exercitationem repellendus laboriosam delectus distinctio fugit dolores neque similique inventore in, eum eveniet tenetur voluptates voluptas maxime minima voluptate!</p>
            <button (click)="social()">{{"RESERVAS.SOCIAL" | transloco}}</button>
        </div>

        <div class="opcion">
            <img src="assets/img/travesia.jpg" alt="">
            <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias consectetur hic exercitationem repellendus laboriosam delectus distinctio fugit dolores neque similique inventore in, eum eveniet tenetur voluptates voluptas maxime minima voluptate!</p>
            <button (click)="travesias()">{{"RESERVAS.TRAVESIAS" | transloco}}</button>
        </div>

    </div>

    <p>{{"MIS_RESERVAS.VER" | transloco}} <button class="aqui">{{"MIS_RESERVAS.RESERVAS" | transloco}}</button></p>

</div>