<app-header></app-header>

<div class="contenedor">
    
    <div class="filtro">
        <div><input type="checkbox" value="veleros"> Veleros</div>
        <div><input type="checkbox" value="social"> Zona social</div>
        <div><input type="checkbox" value="travesias"> Travesías</div>
    </div>
    <div class="lista_reservas">
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
        <app-tarjeta-reserva></app-tarjeta-reserva>
    </div>
</div>