.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 79vh;
  gap: 10px;
}

span{
  color: var(--colorBlanco);
  font-size: 92px;
  text-shadow: 4px 4px 4px black;
  font-family: 'Island';
}

@media screen and (max-width: 768px) {

  span{
    font-size: 78px;
  }

}