<app-header></app-header>

<div class="contenedor">

  <span>
    Zona social 
  </span>

  <div class="calendario">
    
    <div class="info">
      <div class="info__anterior" id="mes__anterior">&#9664;</div>
      <div class="info__mes" id="mes"></div>
      <div class="info__anyo" id="anyo"></div>
      <div class="info__siguiente" id="mes__siguiente">&#9654;</div>
    
    </div>

    <div class="semana">
      <div class="day item">{{"SEMANA.LUNES" | transloco}}</div>
      <div class="day item">{{"SEMANA.MARTES" | transloco}}</div>
      <div class="day item">{{"SEMANA.MIERCOLES" | transloco}}</div>
      <div class="day item">{{"SEMANA.JUEVES" | transloco}}</div>
      <div class="day item">{{"SEMANA.VIERNES" | transloco}}</div>
      <div class="day item">{{"SEMANA.SABADO" | transloco}}</div>
      <div class="day item">{{"SEMANA.DOMINGO" | transloco}}</div>
    </div>

    <div class="fechas" id="fechas"></div>

  </div>

  <!-- <button>{{"RESERVAR" | transloco}}</button> -->
</div>