<div class="contenedor">

    <header>

        <span>
            Club Nàutic Creixell 
        </span>

        <div class="idioma">
            <button (click)="selectLanguage('en')">English</button>
            <button (click)="selectLanguage('cat')">Català</button>
        </div>
        
    </header>

    <img src="assets/img/logo.png" alt="">

    <form [formGroup]="loginForm">
        <i class="bi bi-person-fill"><input type="email" placeholder="{{ 'LOGIN.USER' | transloco }}" formControlName="email" [ngClass]="{is_invalid: (loginForm.get('email').dirty || loginForm.get('email').touched) && !loginForm.get('email').valid}"></i>
        <div class="line"></div>

        <i class="bi bi-lock-fill"><input type="password" placeholder="{{ 'LOGIN.PASSWORD' | transloco }}" formControlName="contrasenya" [ngClass]="{is_invalid: (loginForm.get('contrasenya').dirty && loginForm.get('contrasenya').touched) && !loginForm.get('contrasenya').valid}"></i>
        <div class="line"></div>

        <button type="reset" (click)="onSubmit()" [disabled]="loginForm.invalid">{{ 'LOGIN.LOGIN' | transloco }}</button>

    </form>
</div>