<div class="contenedor">

    <header>

        <span>
            Club Nàutic Creixell 
        </span>

        <div class="idioma">
            <button (click)="selectLanguage('es')">Español</button>
            <button (click)="selectLanguage('en')">English</button>
            <button (click)="selectLanguage('cat')">Català</button>
        </div>
        
    </header>

    <img src="assets/img/logo.png" alt="">

    <form action="reset">
        
        <i class="bi bi-person-fill"><input type="text" placeholder="{{ 'LOGIN.USER' | transloco }}"></i>
        <div class="line"></div>
        <i class="bi bi-lock-fill"><input type="password" placeholder="{{ 'LOGIN.PASSWORD' | transloco }}"></i>
        <div class="line"></div>
        <button (click)="reservas()">{{ 'LOGIN.LOGIN' | transloco }}</button>
        <p>{{ 'LOGIN.REMEMBER' | transloco }}</p>

    </form>

</div>